@font-face {
	font-family: Alegreya-Sans-Light;
	font-weight: 300;
	src: url(../fonts/alegreya-sans-300.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Light-Italic;
	font-weight: 300;
	src: url(../fonts/alegreya-sans-300i.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans;
	font-weight: 400;
	src: url(../fonts/alegreya-sans-400.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Italic;
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/alegreya-sans-400i.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Medium;
	font-weight: 500;
	src: url(../fonts/alegreya-sans-500.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Medium-Italic;
	font-weight: 500;
	src: url(../fonts/alegreya-sans-500i.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Bold;
	font-weight: 700;
	src: url(../fonts/alegreya-sans-700.ttf) format("truetype");
}

@font-face {
	font-family: Alegreya-Sans-Bolder;
	font-weight: 900;
	src: url(../fonts/alegreya-sans-900.ttf) format("truetype");
}

@font-face {
	font-family: Font-Awesome-Brands;
	font-weight: 400;
	src: url(../fonts/fa-brands-400.ttf) format("truetype");
}

@font-face {
	font-family: Font-Awesome;
	font-weight: 400;
	src: url(../fonts/fa-regular-400.ttf) format("truetype");
}

@font-face {
	font-family: Font-Awesome-Solid;
	font-weight: 900;
	src: url(../fonts/fa-solid-900.ttf) format("truetype");
}

@font-face {
	font-family: PT-Mono;
	font-weight: 400;
	src: url(../fonts/pt-mono-400.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu-Mono;
	font-weight: 400;
	src: url(../fonts/ubuntu-mono-400.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu-Mono-Italic;
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/ubuntu-mono-400i.ttf) format("truetype");
}

@font-face {
	font-family: Ubuntu-Mono-Bold;
	font-weight: 700;
	src: url(../fonts/ubuntu-mono-700.ttf) format("truetype");
}
