$background-color-body: scale-color($color-blite, $alpha: -50%);
$background-color-punch-card: var(--color-papyrus, lightgoldenrodyellow);
$background-color-page-content: scale-color($color-blite, $alpha: -25%);
$border-color-dark: var(--color-greyn, darkgray);
$fax-paper-content-class-name: 'fax-paper-content';
$fax-paper-strip-class-name: 'fax-paper-strip';
$margin-directory-separator: 0 0.125em;
$margin-punch-card-item: var(--letter-spacing-punch-card, 1rem);
$max-height-mobile-tiny: var(--max-height-mobile-tiny, 568px);
$max-width-fax-paper-strip: 2em;
$max-width-mobile-tiny: var(--max-width-mobile-tiny, 320px);
$padding-x-punch-card: var(--padding-x-punch-card, 1.5em);
$padding-y-punch-card: var(--padding-y-punch-card, 1em);
$page-tile-side: 256px;
$shadow-color: var(--color-shadow, rgba(0,0,0,0.2));

%punch-card-link-onhover {
	&::before {
		margin-right: calc(#{$margin-punch-card-item} / 2);
	}

	.punch-hole {
		background-color: inherit;
		box-shadow: none;
		margin-right: 0;
	}
}

a {
	@include link-icon("*", "github") {
		content: "\f09b";
	}

	@include link-icon("^", "mailto:") {
		content: "\f0e0";
	}

	@include link-icon("^", "tel:") {
		content: "\f3cd";
	}
}

abbr {
	padding-right: .25em;
	position: relative;

	&::after {
		content: "?";
		position: absolute;
		right: -0.1875em;
		top: -0.125em;
	}
}

body {
	background-color: $background-color-body;
	padding: 2em 0;
}

details {
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

ol, ul {
	padding-left: 0.5em;

	li {
		&:not(:last-child) {
			margin-bottom: 0.5em;
		}

		&[data-order] {
			order: attr(data-order integer);
		}
	}
}

section {
	&[class] {
		@extend %flex-center;
		flex-wrap: wrap;
	}

	&.biography {
		align-items: stretch;
		animation-duration: 1.5s;
		animation-iteration-count: 1;
		animation-name: toss;
		animation-timing-function: cubic-bezier(0.2, 1, 0.375, 1);
		display: grid;
		filter: drop-shadow(-0.25em 0.25em 0.5em $shadow-color);
		grid-template-areas: "#{$fax-paper-strip-class-name}-left #{$fax-paper-content-class-name} #{$fax-paper-strip-class-name}-right";
		grid-template-columns: $max-width-fax-paper-strip calc(100% - #{$max-width-fax-paper-strip * 2}) $max-width-fax-paper-strip;
		margin: auto;
		overflow: hidden;

		ol, ul {
			list-style-type: none;
		}

		ol {
			justify-content: space-between;

			li {
				align-items: center;
				display: grid;
				grid-column-gap: 0.5em;
				grid-row: 1 / -1;
				grid-template-columns: 12em 1em 1fr;
				grid-template-rows: minmax(min-content, 1.5em) minmax(min-content,0.75em);

				&::after {
					align-self: center;
					content: ">";
					display: block;
					grid-column: 2;
					grid-row: 1 / -1;
					margin-left: 0.25em;
				}

				span {
					align-self: center;
					grid-column: 3;
					grid-row: span 2;
				}

				sub {
					align-self: first baseline;
					grid-row: 2 / 3;
				}

				sub, time {
					grid-column: 1;
					justify-self: end;
				}

				time {
					align-self: last baseline;
					grid-row: 1 / 2;
				}
			}
		}

		table {
			tbody {
				tr:hover {
					background-color: scale-color($color-greyn, $alpha: -85%);
				}
			}
		}

		ul {
			li {
				border-color: $border-color-dark;
				border-style: dotted;
				border-width: 0 0 0 2px;
				padding-left: 0.5em;
				position: relative;

				&::before {
					bottom: -0.25em;
					content: "\1CDF";
					margin-left: -0.25em;
					position: absolute;
				}
			}
		}

		.#{$fax-paper-content-class-name} {
			background-color: var(--color-fax-paper,ivory);
			border-color: $border-color-dark;
			border-style: dashed;
			border-width: 0 0.125em;
			display: grid;
			grid-area: #{$fax-paper-content-class-name};
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			padding: 1em 0.25em 2em 0.125em;

			& > .subsection {
				display: grid;
				grid-column: 1 / -1;
				grid-row: span 1;
				grid-template-columns: auto;
				grid-template-rows: minmax(1.5em, 3em) 1fr;
				overflow-wrap: anywhere;

				& > .category {
					display: grid;
					grid-template-columns: auto;
					grid-template-rows: auto;

					& > .heading {
						@extend %grid-heading;
					}
				}

				& > .heading {
					@extend %grid-heading;
					overflow-y: hidden;

					span {
						padding-bottom: 0.25em;
						position: relative;

						&::after {
							border-width: 1px 0 0 0;
							bottom: 0;
							content: "\0307";
							top: 100%;
						}

						&::after,
						&::before {
							border-color: $border-color-dark;
							border-style: solid;
							display: block;
							left: 0;
							position: absolute;
							right: 0;
							top: 100%;
						}

						&::before {
							border-width: 0 0 2px 0;
							bottom: 10%;
							content: "\0740";
							top: 90%;
						}
					}
				}
			}
		}

		.#{$fax-paper-strip-class-name} {
			background-color: var(--color-fax-paper,ivory);
			display: grid;
			grid-row-gap: 2em;
			grid-template-columns: 1fr;
			width: $max-width-fax-paper-strip;
			word-break: break-all;
			z-index: 0;

			&:first-of-type {
				grid-area: #{$fax-paper-strip-class-name}-left;
				margin-top: -0.6875em;
			}

			&:last-of-type {
				grid-area: #{$fax-paper-strip-class-name}-right;
				margin-top: -0.5em;
			}

			&-hole {
				height: 1em;
			}
		}

		.heading {
			background-color: scale-color($color-grellow, $alpha: -85%);
		}
	}

	&.contacts {
		height: calc(100vh - 4em);
	}

	&.index {
		display: block;
		margin: auto;
		max-width: 800px;

		.greeting {
			padding: 2em 0;
		}

		.pages {
			@extend %flex-center;
			flex-wrap: wrap;
			justify-content: space-around;

			.page {
				@extend %flex-center;
				flex-direction: column;
				margin-bottom: 3em;
				margin-left: auto;
				margin-right: auto;
				max-width: 256px;

				&-link {
					align-self: flex-end;
					max-width: $page-tile-side;
				}

				&-tile {
					height: $page-tile-side;
					filter: drop-shadow(-0.25em 0.25em 0.5em $shadow-color);
					width: $page-tile-side;
				}
			}
		}
	}

	.subsection:not(:last-child) {
		margin-bottom: 2em;
	}
}

table {
	* {
		border-color: $border-color-dark;
	}

	tbody {
		td {
			padding: 0.125em 0.5em;

			&:not(:last-child) {
				@extend %table-column-separator;
			}
		}
	}

	thead {
		border-style: double;
		border-width: 0 0 0.25em 0;

		th {
			padding: 0 0.25em;

			&:not(:last-child) {
				@extend %table-column-separator;
			}

			&.heading {
				background: none;
			}
		}

		tr:not(:last-child) {
			border-style: solid;
			border-width: 0 0 0.125em 0;
		}
	}
}

.button-keyboard {
	background-color: scale-color($color-old-plastic, $lightness: 35%);
	border-color: scale-color($color-old-plastic, $lightness: -10%);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.375em;
	box-shadow: -2px 4px 0 5px scale-color($color-old-plastic, $alpha: -25%, $lightness: 25%, $saturation: -40%), -4px 6px 2px 6px scale-color($color-old-plastic, $alpha: -25%, $lightness: -5%, $saturation: -70%), -6px 8px 4px 7px scale-color($color-old-plastic, $alpha: -15%, $lightness: -50%, $saturation: -100%);
	margin: 1em;
	outline: none;
	padding: 0.5em 1.25em 1em 3.25em;
	position: relative;

	&::after {
		@extend %pseudo;
		content: "\2B11";
		left: 15%;
		top: 35%;
		transform: scale(2,2) translateY(-15%);
	}

	&:hover {
		box-shadow: -1px 2px 0 5px scale-color($color-old-plastic, $alpha: -25%, $lightness: 25%, $saturation: -40%), -3px 4px 2px 6px scale-color($color-old-plastic, $alpha: -25%, $lightness: -5%, $saturation: -70%), -5px 6px 4px 5px scale-color($color-old-plastic, $alpha: -15%, $lightness: -40%, $saturation: -100%);
		transform: translate(-2px, 2px);
	}
}

.category {
	margin-bottom: 1em;
}

.error {
	padding: 1em 2em;
	margin: 2em 0.5em;
}

.folder {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.gallery {
	@extend %flex-center;
	flex-wrap: wrap;

	@for $i from 1 through 32 {
		.image-frame:nth-child(#{$i}) {
			animation-delay: $i * 0.6s;
		}
	}

	.image-frame {
		@extend %animation;
		@extend %transition;
		animation-fill-mode: backwards;
		animation-name: hang-up;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		border-color: scale-color($color-pitch, $alpha: -40%);
		border-style: ridge;
		border-width: 1em;
		filter: drop-shadow(-0.25em 0.5em 0.25em $shadow-color);
		margin: 1em;
		transition-duration: 0.4s;
		transition-property: scale();
		width: $max-width-mobile-tiny;

		&:hover {
			transform: scale(1.1);
		}

		img {
			display: block;
			height: auto;
			max-height: $max-height-mobile-tiny;
			max-width: $max-width-mobile-tiny;
			width: 100%;
		}
	}
}

.heading {
	padding-left: 1em;
}

.icon {
	margin-right: 1em;
	max-height: 1em;

	&-error::before {
		content: "\f071";
	}
}

.overlay {
	background-color: scale-color($color-pitch, $alpha: -20%, $lightness: -50%);
	background-position: center top;
	background-repeat: no-repeat;
	left: 50%;
	position: fixed;
	text-align: center;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.page-content {
	position: relative;

	&::after {
		background-color: $background-color-page-content;
		z-index: -1;
	}

	&::after, &::before {
		@extend %pseudo;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	&::before {
		background-image: url(./../images/code.png);
		background-position: left top;
		background-repeat: repeat-y;
		filter: blur(2px);
		z-index: -2;
	}
}

.punch-card {
	background-color: $background-color-punch-card;
	border-radius: 0.75em;
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
	display: flex;
	flex-direction: column;
	height: calc(var(--max-width-mobile-tiny, 320px) - 4em);
	max-width: $max-height-mobile-tiny;
	overflow: hidden;
	padding-bottom: $padding-y-punch-card;
	padding-left: $padding-x-punch-card;
	padding-right: $padding-x-punch-card;
	padding-top: calc(#{$padding-y-punch-card} * 4);
	position: relative;
	width: 100%;

	&::after {
		@include layer(-1);
		border-color: $border-color-dark;
		border-style: solid;
		border-width: 0 1px;
		bottom: $padding-y-punch-card;
		left: $padding-x-punch-card;
		right: $padding-x-punch-card;
		top: $padding-y-punch-card;
	}

	&::before {
		@include layer(-2);
		background-color: inherit;
		content: "3-1A-1S9.265ES :=: 1.A14 | z857";
		filter: brightness(90%) hue-rotate(120deg);
		height: 1.75em;
		margin-left: -1.3em;
		margin-top: -3.8em;
		padding-right: 2em;
		width: 100%;
	}

	a {
		&::before {
			max-width: 1.5em;
		}

		&:focus,
		&:hover {
			@extend %punch-card-link-onhover;
		}
	}

	a, address {
		align-items: center;
		box-shadow: -0.25em 0 $background-color-punch-card;
		display: inline-flex;
	}

	.punch-hole {
		@extend %transition;
		background-color: $background-color-body;
		box-shadow: inset -1px 1px $border-color-dark;
		margin-right: $margin-punch-card-item;
		transition-property: background, margin;
	}

	&-row {
		align-items: center;
		display: flex;
		flex-basis: 100%;
		overflow: hidden;
		padding-left: 1em;
		position: relative;

		&::after {
			@extend %pseudo;
			@extend %transition;
			background-color: $background-color-punch-card;
			bottom: 0;
			right: 1px;
			top: 0;
			transition-property: width;
			width: 0.5em;
		}

		&:hover {
			a {
				@extend %punch-card-link-onhover;
			}

			address {
				margin: 0 auto;
			}

			& > .punch-card-row-filler {
				display: none;
				opacity: 0;
			}
		}

		&:nth-child(2),
		&:nth-child(6) {
			border-top: 1px dashed $border-color-dark;
		}

		&:nth-last-child(1) {
			border-top: 3px double $border-color-dark;
		}

		& > address:last-child > a > .punch-hole:last-child {
			margin-right: 0;
		}

		& > &-filler {
			@extend %transition;
			opacity: 1;
			overflow: hidden;
			transition-property: opacity;

			+ address {
				padding-right: 1.625em;
			}
		}
	}
}

.site-footer {
	@extend %endless-line;
	align-items: flex-end;
	bottom: 0;
	display: flex;
	padding-bottom: 0.25em;

	&::after {
		content: ">";
	}

	.text-light {
		margin: $margin-directory-separator;
	}
}

.site-footer,
.site-header {
	@extend %terminal;
	background-color: scale-color($color-blite, $alpha: -15%);
}

.site-header {
	padding-top: 0.25em;
	top: 0;
}

.site-navigation {
	display: flex;

	ul {
		align-items: center;
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		list-style-type: none;
	}

	.breadcrumb {
		&:not(:last-child)::after {
			content: "/";
			margin: $margin-directory-separator;
		}
	}

	.breadcrumbs {
		@extend %endless-line;
		align-items: baseline;

		&::after {
			content: ">";
		}

		&::before {
			content: "S:/";
		}
	}

	.cursor {
		@extend %animation;
		animation-name: blink;
		margin: $margin-directory-separator;
	}
}
