html {
	@each $min-width, $font-size in $page-font-sizes {
		@media (min-width: #{$min-width}) {
			font-size: #{$font-size};
		}
	}
}

.biography {
	@each $min-width, $width in $biography-widths {
		@media (min-width: #{$min-width}) {
			width: #{$width};
		}
	}

	@media (min-width: 1360px) {
		transform: rotateZ(-1deg);
	}
}

.punch-card {
	@each $max-width in $punch-card-max-widths {
		@media (max-width: #{$max-width}) {
			max-width: #{$max-width};
		}
	}

	@media (min-height: 360px) {
		height: calc(360px - 4em);
	}

	@media (min-height: 414px) {
		height: 360px;
	}

	@media (min-width: 740px) {
		max-width: 740px;
	}

	&-row {
		&::after {
			@each $min-width, $width in $punch-card-row-masks {
				@media (min-width: #{$min-width}) {
					width: #{$width};
				}
			}
		}

		& > &-filler + address {
			@each $min-width, $padding-right in $punch-card-address-paddings {
				@media (min-width: #{$min-width}) {
					padding-right: #{$padding-right};
				}
			}
		}
	}
}
