<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<title>{{ page.title }}{%- if site.title -%}&nbsp;&#124;&nbsp;{%- endif -%}{{ site.title }}</title>
	<link href="{{ site.baseurl }}/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="{{ site.baseurl }}/styles/site.min.css" rel="stylesheet">
	{%- seo -%}
</head>
<body>
	{% include header.html %}
	<main class="page-content">
		{{ content }}
	</main>
	{% include footer.html %}
	<script src="{{ site.baseurl }}/scripts/site.min.js" type="text/javascript"></script>
</body>
</html>