---
indexed: true
layout: base
permalink: /biography/
tile: "diskette-green.png"
title: Biography
---
<section class="biography">
	{% include strip.html %}
	<div class="fax-paper-content">
		<div class="subsection subsection-work">
			<h2 class="heading"><span>Work Experience</span></h2>
			<ol reversed="reversed">
				{%- for job in site.data.jobs -%}
				<li data-order="{{ job.order }}">
					<time>{{ job.date.from | replace: " ", "&nbsp;"  }} &mdash; {{ job.date.to | replace: " ", "&nbsp;" }}</time>
					<span>{{ job.position }} at <a href="{{ job.company.url }}">{{ job.company.name }}</a>{%- if job.company.note -%}{{ " (" }}{{ job.company.note }}){%- endif -%}</span>
				</li>
				{%- endfor -%}
			</ol>
		</div>
		<div class="subsection subsection-education">
			<h2 class="heading"><span>Education</span></h2>
			<ol reversed="reversed">
				{%- for study in site.data.studies -%}
				<li data-order="{{ study.order }}">
					<time>{{ study.date.from }} &mdash; {{ study.date.to }}</time>
					<sub>{{ study.category }}</sub>
					<span>{{ study.degree }}{%- if study.degree -%}{{ " at " }}{%- endif -%}<a href="{{ study.institution.url }}">{{ study.institution.name }}</a>{%- if study.institution.location -%}{{ ", " }}{%- endif -%}{{ study.institution.location }}</span>
				</li>
				{%- endfor -%}
			</ol>
		</div>
		<div class="subsection subsection-certification">
			<h2 class="heading"><span>Additional training and certification</span></h2>
			<ol reversed="reversed">
				{%- for course in site.data.courses -%}
				<li data-order="{{ course.order }}">
					<time>{{ course.date }}</time>
					<span>{{ course.type }} <a href="{{ course.url }}">{{ course.id }}</a> &mdash; {{ course.name }}</span>
				</li>
				{%- endfor -%}
			</ol>
		</div>
		<div class="subsection subsection-competences">
			<h3 class="heading"><span>Competences</span></h3>
			<div class="category">
				<table>
					<thead>
						<tr>
							<th class="heading text-larger" colspan="4">Foreign language proficiencies</th>
						</tr>
						<tr>
							<th>Language code (ISO 639-1)</th>
							<th>Language name</th>
							<th>Ability description</th>
							<th>Proficiency level (<a href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages"><abbr title="Common European Framework of Reference for Languages">CEFRL</abbr></a>)</th>
						</tr>
					</thead>
					<tbody>
						{%- for language in site.data.languages -%}
						<tr>
							<td>{{ language.code }}</td>
							<td>{{ language.name }}</td>
							<td>{{ language.ability }}</td>
							<td>{{ language.proficiency }}</td>
						</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
			<div class="category">
				<h6 class="heading">Social qualities</h6>
				<p>Straightforwardness. Composure in strenuous situations. Ability to work well independently as well as in a team.</p>
			</div>
			<div class="category">
				<h6 class="heading">Organizational skills</h6>
				<p>Efficient resource utilization. Strategic planning. From December 2009 to March 2010 I participated in a project for adapting and integrating the <a href="https://en.wikipedia.org/wiki/EFQM#EFQM_excellence_model">EFQM Excellence Model</a> in Bulgaria.</p>
			</div>
			<div class="category">
				<h6 class="heading">Technological experience</h6>
				<details>
					<summary>Professional use:</summary>
					<ul>
						<li>
							<span>IBM Cognos <abbr title="Business Intelligence">BI</abbr> Suite v.7.4.1-v.10.1.1 with emphasis on Analysis Studio, Contributor web client and Report Studio &ndash; functional and dataflow testing, security administration, end-user support</span>
						</li>
						<li>
							<span>SAP BusinessObjects Planning & Consolidation (BPC) v10.0-v10.1 &ndash; security administration, integration between web interface and <abbr title="Microsoft">MS</abbr> Office components, new release functional testing, end-user support</span>
						</li>
						<li>
							<span>SAP BusinessObjects BI Suite v.4.1SP5-v.4.2SP6 with primary focus on the Web Intelligence, Analysis for <abbr title="Online analytical processing">OLAP</abbr>, Analysis for <abbr title="Microsoft">MS</abbr> Office, Lumira, Dashboards and Crystal Reports modules</span>
						</li>
						<li>
							<span>SAP Business Warehouse (BW) on NetWeaver 7.4 &ndash; security administration</span>
						</li>
						<li>
							<span>SAP HANA RDBMS SPS7-SPS12 &ndash; dataflow testing, new release functional testing and security administration via the desktop Studio application and web-based Launchpad</span>
						</li>
						<li>
							<span>Microsoft Office Suite &ndash; versions 2001 through 2016, mainly utilizing the Word, Excel, PowerPoint, Outlook, Access, SharePoint Designer and Visio components</span>
						</li>
					</ul>
				</details>
				<details>
					<summary>Personal projects:</summary>
					<ul>
						<li>
							<span>Microsoft Visual Studio &ndash; Express 2005, Community 2015 and 2017 editions</span>
						</li>
						<li>
							<span>Microsoft Visual Studio Code</span>
						</li>
						<li>
							<span>Autodesk 3D Studio Max 6</span>
						</li>
						<li>
							<span>Autodesk AutoCAD 2010</span>
						</li>
						<li>
							<span>Adobe Photoshop CS2</span>
						</li>
						<li>
							<span>Nero WaveEditor 12.5</span>
						</li>
						<li>
							<span>MySQL on SQLyog</span>
						</li>
						<li>
							<span>Audacity 2.3.2</span>
						</li>
						<li>
							<span><abbr title="GNU Image Manipulation Program">GIMP</abbr></span>
						</li>
						<li>
							<span>et cetera &hellip;</span>
						</li>
					</ul>
				</details>
			</div>
		</div>
		<div class="subsection subsection-interests">
			<h5 class="heading"><span>Personal interests</span></h5>
			<p>Audio and video editing, graffiti, digital photography, cycling, inline skating, singing</p>
		</div>
	</div>
	{% include strip.html %}
</section>