@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

$background-color-body: scale-color($color-blite, $alpha: -50%);
$background-color-content: var(--color-papyrus, lightgoldenrodyellow);
$border-color-dark: var(--color-greyn, darkgray);
$margin-directory-separator: 0 0.125em;
$margin-punch-card-item: var(--letter-spacing-punch-card, 1rem);
$max-height-mobile-tiny: var(--max-height-mobile-tiny, 568px);
$max-width-mobile-tiny: calc(var(--max-width-mobile-tiny, 320px) - 2em);
$padding-x-punch-card: var(--padding-x-punch-card, 1.5em);
$padding-y-punch-card: var(--padding-y-punch-card, 1em);
$shadow-color: var(--color-shadow, rgba(0,0,0,0.2));

%punch-card-link-onhover {
	&::before {
		margin-right: calc(#{$margin-punch-card-item} / 2);
	}

	.punch-hole {
		background-color: inherit;
		box-shadow: none;
		margin-right: 0;
	}
}

a {
	@include link-icon("*", "github") {
		content: "\f09b";
	}

	@include link-icon("^", "mailto:") {
		content: "\f199";
	}

	@include link-icon("^", "tel:") {
		content: "\f3cd";
	}

	&.link-folder > span {
		border-color: var(--color-grass, forestgreen);
		border-left-style: solid;
		border-left-width: 0.25em;
		padding: 0.125em;
		transition: border-bottom 0.0625s 0.4375s, border-color 1s, border-left 1s, border-right 0.25s 0.75s, border-top 0.0625s 0.4375s;

		&:hover {
			border-bottom-style: dashed;
			border-bottom-width: 0.0625em;
			border-left-width: 0;
			border-right-style: solid;
			border-right-width: 0.125em;
			border-top-style: dashed;
			border-top-width: 0.0625em;
		}
	}
}

body {
	@extend %flex-center;
	background-color: $background-color-body;
	height: inherit;
}

html {
	height: 100%;
}

section {
	@extend %flex-center;
	filter: drop-shadow(-0.25em 0.25em 0.5em $shadow-color);
}

.error {
	padding: 1em 2em;
}

.gallery {
	@extend %flex-center;
	flex-wrap: wrap;

	.image-frame {
		@extend %transition;
		border-color: scale-color($color-pitch, $alpha: -40%);
		border-style: ridge;
		border-width: 1em;
		margin: 1em;
		position: relative;
		transition-duration: 0.4s;
		transition-property: scale();
		width: $max-width-mobile-tiny;

		&:hover {
			transform: scale(1.1);
		}

		img {
			display: block;
			height: auto;
			max-height: $max-height-mobile-tiny;
			max-width: $max-width-mobile-tiny;
			width: 100%;
		}
	}
}

.icon-error::before {
	content: "\f071";
	margin-right: 1em;
}

.page-content {
	max-height: 100vh;
	padding: 2em 0;
}

.punch-card {
	background-color: $background-color-content;
	border-radius: 0.75em;
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
	display: flex;
	flex-direction: column;
	height: $max-width-mobile-tiny;
	max-width: $max-height-mobile-tiny;
	overflow: hidden;
	padding-bottom: $padding-y-punch-card;
	padding-left: $padding-x-punch-card;
	padding-right: $padding-x-punch-card;
	padding-top: calc(#{$padding-y-punch-card} * 4);
	position: relative;
	width: 100%;

	&::after {
		@include layer(-1);
		border-color: $border-color-dark;
		border-style: solid;
		border-width: 0 1px;
		bottom: $padding-y-punch-card;
		left: $padding-x-punch-card;
		right: $padding-x-punch-card;
		top: $padding-y-punch-card;
	}

	&::before {
		@include layer(-2);
		background-color: inherit;
		content: "3-1A-1S9.265ES :=: 1.A14 | z857";
		filter: brightness(90%) hue-rotate(120deg);
		height: 1.75em;
		margin-left: -1.3em;
		margin-top: -3.8em;
		padding-right: 2em;
		width: 100%;
	}

	a {
		&::before {
			max-width: 1.5em;
		}

		&:focus,
		&:hover {
			@extend %punch-card-link-onhover;
		}
	}

	a, address {
		align-items: center;
		box-shadow: -0.25em 0 $background-color-content;
		display: inline-flex;
	}

	.punch-hole {
		@extend %transition;
		background-color: $background-color-body;
		box-shadow: inset -1px 1px $border-color-dark;
		margin-right: $margin-punch-card-item;
		transition-property: background, margin;
	}

	&-row {
		align-items: center;
		display: flex;
		flex-basis: 100%;
		overflow: hidden;
		padding-left: 1em;
		position: relative;

		&::after {
			@extend %transition;
			background-color: $background-color-content;
			bottom: 0;
			content: "";
			display: block;
			position: absolute;
			right: 1px;
			top: 0;
			transition-property: width;
			width: 0.5em;
		}

		&:hover {
			a {
				@extend %punch-card-link-onhover;
			}

			address {
				margin: 0 auto;
			}

			& > .punch-card-row-filler {
				display: none;
				opacity: 0;
			}
		}

		&:nth-child(2),
		&:nth-child(6) {
			border-top: 1px dashed $border-color-dark;
		}

		&:nth-last-child(1) {
			border-top: 3px double $border-color-dark;
		}

		& > address:last-child > a > .punch-hole:last-child {
			margin-right: 0;
		}

		& > &-filler {
			@extend %transition;
			opacity: 1;
			overflow: hidden;
			transition-property: opacity;

			+ address {
				padding-right: 1.625em;
			}
		}
	}
}

.site-footer {
	bottom: 0;

	.text-light {
		margin: $margin-directory-separator;
	}
}

.site-footer,
.site-header {
	@extend %overlay;
	background-color: scale-color($color-blite, $alpha: -15%);
}

.site-header {
	top: 0;
}

.site-navigation {
	display: flex;

	ul {
		align-items: center;
		display: inline-flex;
		justify-content: flex-start;
		list-style-position: inside;
		list-style-type: none;
	}

	.breadcrumb {
		&:not(:last-child)::after {
			content: "/";
			margin: $margin-directory-separator;
		}
	}

	.breadcrumbs {
		&::after {
			content: ">";
		}

		&::before {
			content: "S:/";
		}
	}

	.cursor {
		@extend %animation;
		animation-name: blink;
		margin: $margin-directory-separator;
	}
}
