@media (max-aspect-ratio: 2/3) and (max-width: 767px) {
	.punch-card {
		transform: rotate(90deg);
	}
}

@media (min-width: 740px) {
	.punch-card {
		max-width: 740px;
	}
}

html {
	@each $min-width, $font-size in $page-font-sizes {
		@media (min-width: #{$min-width}) {
			font-size: #{$font-size};
		}
	}
}

.punch-card-row {
	&::after {
		@each $min-width, $width in $punch-card-row-masks {
			@media (min-width: #{$min-width}) {
				width: #{$width};
			}
		}
	}

	& > &-filler + address {
		@each $min-width, $padding-right in $punch-card-address-paddings {
			@media (min-width: #{$min-width}) {
				padding-right: #{$padding-right};
			}
		}
	}
}
