*, *::after, *::before {
	border: none;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

address {
	font-style: initial;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: normal;
	}
}

html {
	box-sizing: border-box;
	line-height: 1.5;
}

ol, ul {
	list-style-position: inside;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
