*, *::after, *::before {
	border: none;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

address {
	font-style: initial;
}

html {
	box-sizing: border-box;
	line-height: 1.5;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
