@font-face {
	font-display: auto;
	font-family: Font-Awesome-Brands;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype");
}

@font-face {
	font-display: auto;
	font-family: Font-Awesome-Solid;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype");
}

$color-text-error: var(--color-lava, orangered);
$color-text-primary: var(--color-pitch, black);
$color-text-secondary: var(--color-greyn, darkgray);
$color-text-success: var(--color-grass, forestgreen);
$color-text-warning: var(--color-mangold, yellow);
$font-family-icon: Font-Awesome-Solid, Font-Awesome-Brands;
$font-size-mobile: var(--font-size-tiny, 12px);
$font-weight-bold: var(--font-weight-bold, bold);
$font-weight-bolder: var(--font-weight-bolder, bolder);
$letter-spacing-punch-card: var(--letter-spacing-punch-card, 1rem);

%directory-separator {
	color: scale-color($color-pitch, $alpha: -75%);
	font-weight: $font-weight-bolder;
}

a {
	color: $color-text-success;
	text-decoration: none;

	&::before {
		font-family: $font-family-icon;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: 2.125em - $i * 0.125em;
	}
}

html {
	color: $color-text-primary;
	font-family: sans-serif;
	font-size: $font-size-mobile;
}

.biography {
	.fax-paper-strip {
		text-align: center;

		&-hole {
			color: $color-blite;
			text-shadow: 1px 0 2px $color-text-secondary;
		}
	}
}

.error {
	background-color: $color-text-warning;
	border-color: $color-text-primary;
	border-style: dashed;
	border-width: 0.25em;
	font-size: 1.25em;
	text-align: center;

	&-message {
		color: $color-text-error;
		font-family: Lucida Console;
	}
}

.icon {
	font-family: $font-family-icon;

	&-error::before {
		font-size: 1.25em;
	}
}

.punch-card {
	@extend %CLI;
	color: $color-text-secondary;
	font-variant-numeric: oldstyle-nums;
	letter-spacing: $letter-spacing-punch-card;

	&::before {
		letter-spacing: initial;
		text-align: right;
	}

	& a {
		@extend %transition;
		color: inherit;
		transition-property: color;

		&:focus,
		&:hover {
			@extend %text-initial;
			font-weight: $font-weight-bolder;

			& .punch-hole {
				@extend %text-inherit;
			}
		}
	}

	& .punch-hole {
		color: transparent;
		letter-spacing: initial;
	}

	&-row {
		white-space: nowrap;

		&:hover {
			user-select: text;

			& a {
				@extend %text-initial;
				font-weight: $font-weight-bolder;

				& .punch-hole {
					@extend %text-inherit;
				}
			}
		}

		&:last-child {
			font-size: 0.625em;
			letter-spacing: initial;
		}
	}
}

.site-footer {
	@extend %CLI;
	font-size: smaller;

	&::after {
		@extend %directory-separator;
	}

	.text-lighter {
		@extend %directory-separator;
	}
}

.site-header {
	@extend %CLI;
}

.site-navigation {
	.breadcrumb {
		&::after,
		&::before {
			@extend %directory-separator;
		}
	}

	.breadcrumbs {
		&::after {
			@extend %directory-separator;
		}

		&::before {
			@extend %directory-separator;
			font-size: smaller;
			letter-spacing: 0.125em;
			text-transform: uppercase;
		}
	}

	.cursor {
		@extend %directory-separator;
	}
}

.text-larger {
	font-size: larger;
}
