@font-face {
	font-display: auto;
	font-family: Font-Awesome-Brands;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype");
}

@font-face {
	font-display: auto;
	font-family: Font-Awesome-Solid;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype");
}

a {
	color: var(--color-grass, forestgreen);
	text-decoration: none;

	&::before {
		font-family: Font-Awesome-Solid, Font-Awesome-Brands;
	}
}

html {
	font-family: sans-serif;
	font-size: var(--font-size-tiny, 12px);
}

.punch-card {
	color: var(--color-greyn, darkgrey);
	font-family: Consolas;
	font-variant-numeric: oldstyle-nums;
	letter-spacing: var(--letter-spacing-punch-card, 1rem);
	user-select: none;

	&::before {
		letter-spacing: initial;
		text-align: right;
	}

	& a {
		color: inherit;
		transition-duration: var(--transition-duration-default, 1s);
		transition-timing-function: var(--transition-timing-function-default, ease-in-out);
		transition-property: color;

		&:focus,
		&:hover {
			color: initial;
			font-weight: var(--font-weight-bolder, 900);
			letter-spacing: initial;

			& .punch-hole {
				color: inherit;
				font-weight: inherit;
				letter-spacing: inherit;
			}
		}
	}

	& .punch-hole {
		color: transparent;
		letter-spacing: initial;
	}

	&-row {
		white-space: nowrap;

		&:hover {
			user-select: text;

			& a {
				color: initial;
				font-weight: var(--font-weight-bolder, 900);
				letter-spacing: initial;

				& .punch-hole {
					color: inherit;
					font-weight: inherit;
					letter-spacing: inherit;
				}
			}
		}

		&:last-child {
			font-size: 0.625em;
			letter-spacing: initial;
		}
	}
}
