@font-face {
	font-display: auto;
	font-family: Font-Awesome-Brands;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype");
}

@font-face {
	font-display: auto;
	font-family: Font-Awesome-Solid;
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype");
}

@font-face {
	font-display: auto;
	font-family: PT-Mono;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/pt-mono-400.ttf) format("truetype");
}

@font-face {
	font-display: auto;
	font-family: Ubuntu-Mono-Bold;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ub-mono-700.ttf) format("truetype");
}

$font-family-icon: Font-Awesome-Solid, Font-Awesome-Brands;
$font-size-mobile: var(--font-size-tiny, 12px);
$font-weight-bold: var(--font-weight-bold, bold);
$font-weight-bolder: var(--font-weight-bolder, bolder);
$letter-spacing-punch-card: var(--letter-spacing-punch-card, 1rem);

%directory-separator {
	color: scale-color($color-pitch, $alpha: -75%);
	font-weight: $font-weight-bolder;
}

a {
	color: $color-success;
	text-decoration: none;

	&::before {
		font-family: $font-family-icon;
	}
}

abbr {
	text-decoration-color: $color-info;
	text-decoration-line: underline;
	text-decoration-style: dotted;

	&::after {
		color: $color-info;
		font-size: 0.625em;
	}
}

details {
	summary {
		text-decoration-line: underline;
		text-decoration-style: dotted;

		&::marker {
			color: scale-color($color-pitch, $lightness: 30%);
		}
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: 2.125em - $i * 0.125em;
	}
}

html {
	color: $color-primary;
	font-family: sans-serif;
	font-size: $font-size-mobile;
}

p {
	text-indent: 1em;
	padding-left: 0.5em;
}

table {
	thead {
		th {
			text-align: center;
		}
	}
}

.biography {
	font-family: PT-Mono, Courier New;

	ol {
		li {
			&::after {
				color: scale-color($color-pitch, $lightness: 60%);
				font-weight: $font-weight-bolder;
			}

			span {
				text-align: left;
			}

			sub {
				text-align: right;
			}

			time {
				text-align: right;
			}
		}
	}

	ul {
		li {
			&::before {
				color: $border-color-dark;
			}
		}
	}

	.fax-paper-content {
		& > .subsection {
			& > .heading {
				span {
					&::after,
					&::before {
						color: transparent;
					}
				}
			}
		}
	}

	.fax-paper-strip {
		text-align: center;

		&-hole {
			color: $color-blite;
			text-shadow: 1px 0 2px $color-secondary;
		}
	}
}

.error {
	background-color: $color-warning;
	border-color: $color-primary;
	border-style: dashed;
	border-width: 0.25em;
	font-size: 1.25em;
	text-align: center;

	&-message {
		color: $color-error;
		font-family: Lucida Console;
	}
}

.heading {
	color: scale-color($color-pitch, $lightness: 30%);
	font-family: Ubuntu-Mono-Bold, PT-Mono, monospace;
	font-weight: $font-weight-bold;
	letter-spacing: 0.0625em;
}

.icon {
	font-family: $font-family-icon;

	&-error::before {
		font-size: 1.25em;
	}
}

.punch-card {
	color: $color-secondary;
	font-family: Consolas;
	font-variant-numeric: oldstyle-nums;
	letter-spacing: $letter-spacing-punch-card;

	&::before {
		letter-spacing: initial;
		text-align: right;
	}

	& a {
		@extend %transition;
		color: inherit;
		transition-property: color;

		&:focus,
		&:hover {
			@extend %text-initial;
			font-weight: $font-weight-bolder;

			& .punch-hole {
				@extend %text-inherit;
			}
		}
	}

	& .punch-hole {
		color: transparent;
		letter-spacing: initial;
	}

	&-row {
		white-space: nowrap;

		&:hover {
			user-select: text;

			& a {
				@extend %text-initial;
				font-weight: $font-weight-bolder;

				& .punch-hole {
					@extend %text-inherit;
				}
			}
		}

		&:last-child {
			font-size: 0.625em;
			letter-spacing: initial;
		}
	}
}

.site-footer {
	@extend %CLI;
	font-size: smaller;

	&::after {
		@extend %directory-separator;
	}

	.text-lighter {
		@extend %directory-separator;
	}
}

.site-header {
	@extend %CLI;
}

.site-navigation {
	.breadcrumb {
		&::after,
		&::before {
			@extend %directory-separator;
		}
	}

	.breadcrumbs {
		&::after {
			@extend %directory-separator;
		}

		&::before {
			@extend %directory-separator;
			font-size: smaller;
			letter-spacing: 0.125em;
			text-transform: uppercase;
		}
	}

	.cursor {
		@extend %directory-separator;
	}
}

.text-larger {
	font-size: larger;
}
