:root {
	--animation-duration-default: 2s;
	--animation-iteration-count-default: infinite;
	--animation-timing-function-default: ease-in-out;
	$color-blite: rgba(245,250,255,1) !global;
	$color-error: var(--color-lava, orangered) !global;
	--color-fax-paper: rgba(255,255,250,1);
	--color-grass: rgba(35,140,35,1);
	$color-grellow: rgba(190,230,65,1) !global;
	$color-greyn: rgba(170,180,170,1) !global;
	--color-greyn: rgba(170,180,170,1);
	$color-info: rgba(0,180,180,1) !global;
	--color-lava: rgba(255,55,25,1);
	--color-mangold: rgba(255,245,45,1);
	--color-papyrus: rgba(240,245,220,1);
	$color-pitch: rgba(20,25,25,1) !global;
	--color-pitch: rgba(20,25,25,1);
	$color-primary: var(--color-pitch, black) !global;
	$color-secondary: var(--color-greyn, darkgray) !global;
	--color-shadow: rgba(0,0,0,0.2);
	--font-size-huge: 20px;
	--font-size-large: 18px;
	--font-size-medium: 16px;
	--font-size-small: 14px;
	--font-size-tiny: 12px;
	$color-success: var(--color-grass, forestgreen) !global;
	$color-warning: var(--color-mangold, yellow) !global;
	--font-weight-bold: 700;
	--font-weight-bolder: 900;
	--letter-spacing-punch-card: 1rem;
	--padding-x-punch-card: 1.5em;
	--padding-y-punch-card: 1em;
	--transition-duration-default: 1s;
	--transition-property-default: all;
	--transition-timing-function-default: ease-in-out;
	--max-height-mobile-tiny: 568px;
	--max-width-mobile-tiny: 320px;
}
