a.icon > span {
	border-color: var(--color-grass, forestgreen);
	border-left-style: solid;
	border-left-width: 0.25em;
	padding: 0.125em;
	transition: border-bottom 0.0625s 0.4375s, border-color 1s, border-left 1s, border-right 0.25s 0.75s, border-top 0.0625s 0.4375s;
}

	a.icon > span:hover {
		border-bottom-style: dashed;
		border-bottom-width: 0.0625em;
		border-left-width: 0;
		border-right-style: solid;
		border-right-width: 0.125em;
		border-top-style: dashed;
		border-top-width: 0.0625em;
	}

body {
	background-color: var(--color-ghost, ghostwhite);
}

main.page-content {
	height: 100vh;
}

section.contacts {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.icon-envelope::before {
	content: "\f199";
}

.icon-github::before {
	content: "\f09b";
}

.icon-mobile-phone::before {
	content: "\f3cd";
}

.punch-card {
	background-color: var(--color-papyrus, lightgoldenrodyellow);
	border-radius: 0.75em;
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
	display: flex;
	flex-wrap: wrap;
	height: 360px;
	overflow: hidden;
	padding-bottom: var(--padding-bottom-punch-card, 1em);
	padding-left: var(--padding-left-punch-card, 1.5em);
	padding-right: var(--padding-right-punch-card, 1.5em);
	padding-top: var(--padding-top-punch-card, 4em);
	position: relative;
	width: 740px;
}

	.punch-card::after {
		border-color: var(--color-greyn, darkgrey);
		border-style: solid;
		border-width: 0 1px;
		bottom: var(--padding-bottom-punch-card, 1em);
		display: block;
		content: "";
		left: var(--padding-left-punch-card, 1.5em);
		right: var(--padding-right-punch-card, 1.5em);
		position: absolute;
		top: var(--padding-top-punch-card, 4em);
		z-index: -1;
	}

	.punch-card::before {
		background-color: inherit;
		display: block;
		content: "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		filter: brightness(90%) hue-rotate(120deg);
		height: 1.75em;
		margin-left: -1.3em;
		margin-top: -3.8em;
		padding-right: 2em;
		position: absolute;
		width: 100%;
		z-index: -2;
	}

	.punch-card > * {
		flex-basis: 100%;
		padding: 0 1em;
	}

	.punch-card a {
		display: inline-flex;
	}

		.punch-card a:focus .punch-hole,
		.punch-card a:hover .punch-hole {
			background-color: inherit;
			margin-right: 0;
		}

	.punch-card address {
		align-items: center;
		display: flex;
	}

	.punch-card .punch-hole {
		background-color: var(--color-greyn, darkgrey);
		margin-right: var(--letter-spacing-punch-card, 1rem);
		transition-duration: var(--transition-duration-default, 1s);
		transition-property: background, margin;
		transition-timing-function: ease-in-out;
	}

.punch-card-row {
	display: flex;
	max-height: 1.5em;
}

	.punch-card-row:hover a .punch-hole {
		background-color: inherit;
		margin-right: 0;
	}

	.punch-card-row:hover address {
		margin: 0 auto;
	}

	.punch-card-row:hover > span {
		display: none;
		opacity: 0;
	}

	.punch-card-row > span {
		opacity: 1;
		transition-duration: var(--transition-duration-default, 1s);
		transition-property: opacity;
		transition-timing-function: ease-in-out;
	}
